<!-- Add and Delete Board Forms at the top -->
{% include "addBoardForm.html" %}

<!-- Navigate to Board Title -->
<div class="d-flex justify-content-center align-items-center mt-4">
  <h3>Navigate to Board</h3>
</div>

<!-- Board Selection with Details -->
<div class="board-selection mt-2 d-flex justify-content-center align-items-center">
  <ul style="list-style-type: none; padding: 0">
    {% for obj in boardsList %}
    <li>
      <details>
        <summary style="cursor: pointer">{{ obj.name }}</summary>
        <p>{{ obj.description }}</p>
        <!-- Link to navigate to the board. Adjust href as necessary -->
        <a href="/{{ obj._id }}">Go to Board</a>
      </details>
    </li>
    {% endfor %}
  </ul>
</div>
