<div class="col-md-4">
  <div class="card mb-4" style="max-width: 20rem">
    <div
      class="card-header bg-primary text-white"
    >
      <h5 class="mb-0">{{result.title}}</h5>
    </div>
    <div class="card-body">
      <p class="card-text">
        List:
        <span class="badge badge-success"
          >{{result.list}}</span
        >
      </p>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="checkbox"
        />
        <label
          class="form-check-label"
          for="checkbox"
          >Check Option</label
        >
      </div>
      <button class="btn btn-danger mt-3">
        Delete
      </button>
      <p class="card-text mt-3">
        Date:
        <span class="text-muted"
          >{{result.date}}</span
        >
      </p>
    </div>
  </div>
</div>
