{% extends "layout.html" %} {% block title %}To-Do
App {%endblock%} {%block content %}
<form method="post">
  <div class="form-group">
    <label for="exampleInputEmail1"
      >To-do item</label
    >
    <input
      type="text"
      class="form-control"
      id="newItem"
      name="item"
      placeholder="Enter item"
    />
  </div>
  <div class="dropdown">
    <button
      class="btn btn-primary dropdown-toggle"
      type="Submit"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Add to List:
    </button>
    <div
      class="dropdown-menu"
      aria-labelledby="dropdownMenuButton"
    >
      {% for obj in boardLists %}

      <a
        class="dropdown-item"
        href="/{{ obj.id }}"
        >{{ obj.name }}</a
      >

      {%endfor %}
    </div>
  </div>
</form>

<h2 class="d-flex justify-content-center">
  Board content
</h2>
<div class="container">
  <div class="row">
    <!-- List the todo items here -->
    {% for result in cardsList %} {% include
    "card.html" %} {% endfor %}
  </div>
</div>
{% endblock %}
