{% extends "layout.html" %} {% block title %}To-Do
App {%endblock%} {%block content %}

{% include
  "addForm.html" %}

  <h3 class="d-flex justify-content-center m-4">
    To Do Board
  </h3>
  <hr>
  <div class="container">
    <div class="row">
      <!-- List the todo items here -->
      {% for result in toDoCardsList %} {% include
      "card.html" %} {% endfor %}
    </div>
  </div>

  <h3 class="d-flex justify-content-center m-4">
    Doing Board
  </h3>
  <hr>
  <div class="container">
    <div class="row">
      <!-- List the todo items here -->
      {% for result in doingCardsList %} {% include
      "card.html" %} {% endfor %}
    </div>
  </div>

  <h2 class="d-flex justify-content-center m-4">
    Done Board
  </h2>
  <hr>
  <div class="container">
    <div class="row">
      <!-- List the todo items here -->
      {% for result in doneCardsList %} {% include
      "card.html" %} {% endfor %}
    </div>
  </div>
  {% endblock %}
  
</form>
